Source: myscript
Section: misc
Priority: optional
Maintainer: janinainfa <janinainfa@gmail.com>
Build-Depends: debhelper (>= 9), dh-make
Standards-Version: 3.9.8
Homepage: https://adres.strony/internetowej/z_projektem
Vcs-Git: https://github.com/wklesnietamalpa/stdeb-minimal-example.git
Vcs-Browser: https://github.com/wklesnietamalpa/stdeb-minimal-example.git

Package: myscript
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Krótki opis twojego pakietu
 Tutaj możesz dodać dłuższy opis swojego pakietu.
 W kilku liniach opisz, co pakiet robi, jak go używać itp.
